<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords"
      content="FWD,Forward,Progress,ABL,4GL,OpenEdge,Java,convert,conversion,migrate,migration,SQL,database,license,licensing,dual license,affero,gpl">
<meta name="description"
      content="FWD's dual licensing model for open or closed source projects">
<link rel="canonical" href="https://www.beyondabl.com/license-fwd.html" />
<link rel='stylesheet' type='text/css' href='./web-site.css' />
<link rel='stylesheet' type='text/css' media='screen and (max-width: 479px)' href='./web-site-tn.css' />
<link rel='stylesheet' type='text/css' media='screen and (min-width: 480px) and (max-width: 767px)' href='./web-site-xs.css' />
<link rel='stylesheet' type='text/css' media='screen and (min-width: 768px) and (max-width: 991px)' href='./web-site-sm.css' />
<link rel='stylesheet' type='text/css' media='screen and (min-width: 992px) and (max-width: 1199px)' href='./web-site-md.css' />
<link rel='stylesheet' type='text/css' media='screen and (min-width: 1200px)' href='./web-site-lg.css' />
<title>Licensing FWD</title>
   <noscript>
      <link rel="stylesheet" href="./bootstrap-3.3.7-dist/css/bootstrap.min.css" type="text/css"/>
      <link rel='stylesheet' type='text/css' href='./web-site.css' />
      <link rel='stylesheet' type='text/css' media='screen and (max-width: 479px)' href='./web-site-tn.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 480px) and (max-width: 767px)' href='./web-site-xs.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 768px) and (max-width: 991px)' href='./web-site-sm.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 992px) and (max-width: 1199px)' href='./web-site-md.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 1200px)' href='./web-site-lg.css' />
   </noscript>
</head>
<body>
<section id="License">

<div class="row no-margin">
<div class="col-xs-12 gc-col-text">
<div class="gc-panel-body gc-page-summary">
<div class="glyphicon glyphicon-certificate"/>&nbsp;
<span class="gc-page-summary-strong">Licensing FWD</span> for open or closed source projects
</div>
</div>
</div>


<div class="row no-margin gc-narrative">
<div class="col-xs-12">
<div class="gc-col-text">

<p>
The FWD Progress to Java conversion and runtime technology is offered under a <b>dual license</b>
model. This means the technology can be used for either open source or closed source applications.
If you wish to keep your converted application proprietary (i.e., closed source), the way you
distribute/deploy it determines which type of license you will need.
</p>
<p>
FWD is an open source project released under the <a
href="https://proj.goldencode.com/projects/p2j/wiki/Licensing#AGPL-30-Full-License-Text">Affero
GPL 3.0 license</a>. This is the license that automatically applies if you simply download the
FWD project and use it without explicitly requesting a different license. There is <b>no license
fee</b> required for FWD with the Affero GPL 3.0 license. You can use this license as long as
either of the following conditions apply to your situation:
<ul>
<li>you <b>do not</b> distribute/deploy your converted application outside of your organization
(this limitation includes hosting over a network to users outside your organization, which is
considered distribution); OR</li>
<li>you open source the converted code of your application and all resources needed to build it
under the AGPL 3.0 license.</li>
</ul>
</p>
<p>
If you do not wish to open source your converted application code AND you need to distribute your
application outside of your organization, you will need to acquire a non-AGPL license to do so.
Such a license is <a href="https://www.goldencode.com/#Licensing" target="_blank">available</a>
only from Golden Code Development Corporation, the copyright holder of the FWD technology. There
is a one-time fee for this type of license. The license is perpetual.
</p>
<p>
An advantage of the dual license model is that, even if you know you eventually will need a non-AGPL
license to deploy/distribute your converted application, you can download FWD and prove it meets your
needs using the AGPL license first. The requirement for a non-AGPL license does not trigger until
you distribute the result or host it over a network, outside your organization.
</p>
<p>
Whichever license you use, <b>you retain all intellectual property rights</b> to your application
source code after conversion.
</p>
<p>
<i>Disclaimer:</i> Please note that this overview is only meant to convey a non-binding, high
level understanding of the dual license model. For the actual, binding AGPL 3.0 license terms,
please refer to the <a
href="https://proj.goldencode.com/projects/p2j/wiki/Licensing#AGPL-30-Full-License-Text">full
AGPL 3.0 license text</a>. For the terms of the non-AGPL license, please
<a href="https://www.goldencode.com/#Licensing" target="_blank">contact</a> Golden Code Development.
Please also refer to the <a href="https://proj.goldencode.com/projects/p2j/wiki/Licensing">FWD
Licensing Wiki</a> for more information.
</p>
<div style="float: right;">
<a href="https://www.gnu.org/licenses/agpl.html" target="_blank"><img src="images/agplv3-155x51.png"/></a>
</div>

</div>
</div>
</div>

</section>
</body>
</html>
