<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="keywords" content="FWD,Forward,Progress,ABL,4GL,OpenEdge,Java,convert,conversion,migrate,migration,SQL,database">
<meta name="description"
      content="Extreme automation and strict runtime compatibility change the economics of switching">
<link rel="canonical" href="https://www.beyondabl.com/benefits-fwd.html" />
<link rel='stylesheet' type='text/css' href='./web-site.css' />
<link rel='stylesheet' type='text/css' media='screen and (max-width: 479px)' href='./web-site-tn.css' />
<link rel='stylesheet' type='text/css' media='screen and (min-width: 480px) and (max-width: 767px)' href='./web-site-xs.css' />
<link rel='stylesheet' type='text/css' media='screen and (min-width: 768px) and (max-width: 991px)' href='./web-site-sm.css' />
<link rel='stylesheet' type='text/css' media='screen and (min-width: 992px) and (max-width: 1199px)' href='./web-site-md.css' />
<link rel='stylesheet' type='text/css' media='screen and (min-width: 1200px)' href='./web-site-lg.css' />
<title>Benefits of FWD</title>
   <noscript>
      <link rel="stylesheet" href="./bootstrap-3.3.7-dist/css/bootstrap.min.css" type="text/css"/>
      <link rel='stylesheet' type='text/css' href='./web-site.css' />
      <link rel='stylesheet' type='text/css' media='screen and (max-width: 479px)' href='./web-site-tn.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 480px) and (max-width: 767px)' href='./web-site-xs.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 768px) and (max-width: 991px)' href='./web-site-sm.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 992px) and (max-width: 1199px)' href='./web-site-md.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 1200px)' href='./web-site-lg.css' />
   </noscript>
</head>
<body>
<section id="Benefits">

<div class="row no-margin">
<div class="col-xs-12 gc-col-text">
<div class="gc-panel-body gc-page-summary">
<div class="glyphicon glyphicon-thumbs-up"/>&nbsp;
<span class="gc-page-summary-strong">Benefits</span> of automated conversion and deployment
with FWD

<div class="row no-margin">

<div class="col-xs-12">
<img src="images/wordcloud_cycle.png" class="img-responsive"
     style="display: block; margin: auto;" alt="FWD Word Cloud"/>
</div>
<div class="col-xs-12">
Extreme automation and runtime compatibility change the economics of switching.
</div>

</div>

</div>
</div>
</div>


<div class="gc-col-text gc-narrative">

<div class="row no-margin">

<div class="col-xs-12">
<p>
By replacing the OpenEdge platform with FWD, you get the business benefits of eliminating
perpetual Progress license fees. There are also numerous technology benefits that accrue when you
deploy your application using FWD, whether you use the ABL or Java as your development language
going forward.
</p>
</div>

<div class="col-xs-12 col-md-7">

<h3>Conversion</h3>

<div class="gc-img-bullet" style="background-image: url('images/adapt.svg');">
<p>100% automated conversion of entire ABL application into the Java equivalent</p>
</div>

<div class="gc-img-bullet" style="background-image: url('images/resize.svg');">
<p>Projects of any size are handled, whether 100 lines or 20 million lines</p>
</div>

<div class="gc-img-bullet" style="background-image: url('images/batch.svg');">
<p>Runs as a batch in seconds to hours, depending on project size</p>
</div>

<div class="gc-img-bullet" style="background-image: url('images/nohand.svg');">
<p>NO hand editing required, NO post-processing needed</p>
</div>

<div class="gc-img-bullet" style="background-image: url('images/compile.svg');">
<p>Compiles immediately (using javac) after the conversion run completes</p>
</div>

<div class="gc-img-bullet" style="background-image: url('images/repeat.svg');">
<p>Re-run conversion at any time for part or all of a project</p>
</div>

<div class="gc-img-bullet" style="background-image: url('images/improve.svg');">
<p>Improvements and refactoring are applied uniformly</p>
</div>

<div class="gc-img-bullet" style="background-image: url('images/custom.svg');">
<p>Custom conversion rules are simple to do</p>
</div>

<div class="gc-img-bullet" style="background-image: url('images/integrate.svg');">
<p>Easily integrate with hand-written Java and third party technology</p>
</div>

</div>

<div class="col-xs-12 col-md-5">

<h3>Implications</h3>

<ul>
<li>High leverage approach; effort for a conversion project directly depends upon FWD's level of
support for the ABL features in use.</li>
<li>Projects can be done in minutes or hours if the ABL features are supported.</li>
<li>Projects needing new ABL support will take days, weeks, or months, depending upon the
complexity of the features needed.</li>
<li>Multiple orders of magnitude less work and elapsed time, compared to a rewrite.</li>
<li>Combined with runtime compatibility, automated conversion minimizes risk.</li>
<li>Easily handles ABL code changes during the project.</li>
<li>Develop in ABL and deploy in Java.</li>
<li>Switch to Java development when ready.</li>
<li>FWD conversion and refactoring is continually improving; re-run to pick up changes.</li>
<li>Standardized output.</li>
</ul>

</div>

</div>


<div class="row no-margin">

<div class="col-xs-12 col-md-5 col-lg-7">

<h3>Runtime</h3>

<div class="gc-img-bullet" style="background-image: url('images/www.svg');">
<p>Direct-to-Web<sup>TM</sup> deployment for GUI and ChUI applications</p>
</div>

<div class="gc-img-bullet" style="background-image: url('images/embed.svg');">
<p>Embed converted UI screens in a web application</p>
</div>

<div class="gc-img-bullet" style="background-image: url('images/javascript.svg');">
<p>JavaScript interface to converted business logic</p>
</div>

<div class="gc-img-bullet" style="background-image: url('images/features.svg');">
<p>Compatible legacy features and behavior</p>
</div>

<div class="gc-img-bullet" style="background-image: url('images/portable.svg');">
<p>Portable across software and hardware platforms</p>
</div>

<div class="gc-img-bullet" style="background-image: url('images/puzzle.svg');">
<p>Better technology integration options</p>
</div>

<div class="gc-img-bullet" style="background-image: url('images/database.svg');">
<p>Deployment-time choice of databases</p>
</div>

<div class="gc-img-bullet" style="background-image: url('images/multitier.svg');">
<p>Multi-tier architecture</p>
</div>

<div class="gc-img-bullet" style="background-image: url('images/opensource.svg');">
<p>Open source software stack</p>
</div>

</div>

<div class="col-xs-12 col-md-7 col-lg-5">

<h3>Implications</h3>

<ul>
<li>Instantly web-enable an application without rewriting its UI, using a virtual desktop in a
browser.</li>
<li>Instead of rewriting your user interface to implement a from-scratch web application,
selectively re-use converted screens and business logic from the web.</li> 
<li>Converted applications behave as the original: user interface, data access, transactions,
control flow, resource scopes, math and logical operations, etc...</li>
<li>Users don't need retraining; business processes remain the same.</li>
<li>Built on Java to run on many platforms, FWD provides a wide range of hardware and software
deployment options.</li>
<li>As Java software, the FWD runtime integrates naturally with thousands of readily available
software tools.</li>
<li>Database can be chosen at deployment time; no application code changes are needed. Support
for a new database can be added incrementally, if it supports FWD's requirements.</li>
<li>Database, server, and clients can run on the same or separate systems; specialized hardware
can be selected to best match each tier's purpose.</li>
<li>Open source makes licensing and deployment less expensive, debugging simpler, and
self-sufficiency possible.</li>
</ul>

</div>

<div class="col-xs-12">
<h2>Java Development Benefits</h2>
<p>
While it is not necessary to switch to Java development to achieve the above benefits, if you do
switch some or all future development of your converted application to Java, you have the
opportunity to realize <a href="#Why" data-link>additional technology benefits</a> which accrue
from the vast investment the software industry has made in the Java language.
</p>
</div>

</div>


</section>
</body>
</html>
