<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords"
      content="FWD,Forward,Progress,ABL,4GL,OpenEdge,Java,convert,conversion,migrate,migration,SQL,database,demo,demonstration,video">
<meta name="description"
      content="Demonstrations, code walkthroughs, and explanations of converted ABL applications and the FWD technology">
<link rel="canonical" href="https://www.beyondabl.com/demo-fwd.html" />
<link rel='stylesheet' type='text/css' href='./web-site.css' />
<link rel='stylesheet' type='text/css' media='screen and (max-width: 479px)' href='./web-site-tn.css' />
<link rel='stylesheet' type='text/css' media='screen and (min-width: 480px) and (max-width: 767px)' href='./web-site-xs.css' />
<link rel='stylesheet' type='text/css' media='screen and (min-width: 768px) and (max-width: 991px)' href='./web-site-sm.css' />
<link rel='stylesheet' type='text/css' media='screen and (min-width: 992px) and (max-width: 1199px)' href='./web-site-md.css' />
<link rel='stylesheet' type='text/css' media='screen and (min-width: 1200px)' href='./web-site-lg.css' />
<title>Take a Look - FWD Demonstrations</title>
   <noscript>
      <link rel="stylesheet" href="./bootstrap-3.3.7-dist/css/bootstrap.min.css" type="text/css"/>
      <link rel='stylesheet' type='text/css' href='./web-site.css' />
      <link rel='stylesheet' type='text/css' media='screen and (max-width: 479px)' href='./web-site-tn.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 480px) and (max-width: 767px)' href='./web-site-xs.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 768px) and (max-width: 991px)' href='./web-site-sm.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 992px) and (max-width: 1199px)' href='./web-site-md.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 1200px)' href='./web-site-lg.css' />
   </noscript>
</head>
<body>
<section id="Demo">

<div class="row no-margin">
<div class="col-xs-12 gc-col-text">
<div class="gc-panel-body gc-page-summary">
<div class="glyphicon glyphicon-facetime-video"/>&nbsp;
<span class="gc-page-summary-strong">If a picture</span> is worth a thousand words,
a demonstration video should be worth even more...
</div>
</div>
</div>

<div class="row no-margin gc-narrative" style="padding-top: 1em;">


<div class="col-xs-12 col-sm-6 col-md-4 no-padding">
<div class="row gc-media-panel">

<div class="col-xs-12 no-padding">
<div class="video-container">
<iframe src="https://www.youtube.com/embed/BNepKz-rE_M?rel=0" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>

<div class="col-xs-12 no-padding">
<div class="gc-media-abstract">
<dt>4GL GUI as a First Class Web UI (46:19)</dt>
</dd>Demonstration of how FWD's enhanced version of the 4GL and web deployment capabilities can
be used to create a first class web application from a GUI/ADM2 ABL application.</dd>
</div>
</div>

</div>
</div>


<div class="col-xs-12 col-sm-6 col-md-4 no-padding">
<div class="row gc-media-panel">

<div class="col-xs-12 no-padding">
<div class="video-container">
<iframe src="https://www.youtube.com/embed/75h4AqcBAgw?rel=0" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>

<div class="col-xs-12 no-padding">
<div class="gc-media-abstract">
<dt>Running a converted GUI application (30:06)</dt>
</dd>Demonstration of a sample GUI/ADM2 application, converted from Progress ABL to Java,
deployed through a web browser or as a desktop Java client.</dd>
</div>
</div>

</div>
</div>


<div id="hotel-chui-video" class="col-xs-12 col-sm-6 col-md-4 no-padding">
<div class="row gc-media-panel">

<div class="col-xs-12 no-padding">
<div class="video-container">
<iframe src="https://www.youtube.com/embed/uuM2zoYjgWM?rel=0" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>

<div class="col-xs-12 no-padding">
<div class="gc-media-abstract">
<dt>Running a converted ChUI application (08:19)</dt>
</dd>Demonstration of a sample character mode application, converted from Progress ABL to Java,
running against a relational database.</dd>
</div>
</div>

</div>
</div>


<div class="col-xs-12 col-sm-6 col-md-4 no-padding">
<div class="row gc-media-panel">

<div class="col-xs-12 no-padding">
<div class="video-container">
<iframe src="https://www.youtube.com/embed/e89FYpjNiQo?rel=0" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>

<div class="col-xs-12 no-padding">
<div class="gc-media-abstract">
<dt>How FWD conversion works (11:02)</dt>
</dd>We show how to convert the sample ChUI hotel ABL application and explain how FWD performs
the conversion to Java.</dd>
</div>
</div>

</div>
</div>


<div class="col-xs-12 col-sm-6 col-md-4 no-padding">
<div class="row gc-media-panel">

<div class="col-xs-12 no-padding">
<div class="video-container">
<iframe src="https://www.youtube.com/embed/I7Z9bFsux4I?rel=0" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>

<div class="col-xs-12 no-padding">
<div class="gc-media-abstract">
<dt>Converted Java source code tour, part 1 of 2 (20:20)</dt>
</dd>We look at the original source code of an ABL application and compare it with the converted
Java code for the same app.</dd>
</div>
</div>

</div>
</div>


<div class="col-xs-12 col-sm-6 col-md-4 no-padding">
<div class="row gc-media-panel">

<div class="col-xs-12 no-padding">
<div class="video-container">
<iframe src="https://www.youtube.com/embed/DEqa0zwagAU?rel=0" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>

<div class="col-xs-12 no-padding">
<div class="gc-media-abstract">
<dt>Converted Java source code tour, part 2 of 2 (21:32)</dt>
</dd>We continue our look at the original source code of an ABL application and compare it with
the converted Java code for the same app.</dd>
</div>
</div>

</div>
</div>


</div>

<template data-script="true" name="resize-demo-video">
   <script type="text/javascript">
      'use strict';
      function Demo()
      {
         function setIFrameHeight(aspectRatio)
         {
            var max = 0;
            $(".video-container", "#Demo").each(function(index, element)
                  {
                     //max = Math.max($(element).width(), max);
                     max = Math.max(parseInt($(element).css("width")), max);
                  });
            $(".video-container", "#Demo").each(function(index, element)
                  {
                     var h = max * aspectRatio;
                     $("iframe,video", element).attr("height", h + "px"); 
                  });
         };
         setIFrameHeight(0.5625);
         var resizeTimeout;
         function resizeThrottler()
         {
           if (!resizeTimeout)
           {
             resizeTimeout = setTimeout(function()
                                        {
                                           resizeTimeout = null;
                                           setIFrameHeight(0.5625);
                                        }, 100);
           };
         };

         window.addEventListener("resize", resizeThrottler, false);
      };
      Demo();
    </script>
</template>
</section>
</body>
</html>
