<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <meta name="viewport" content="width=device-width, initial-scale=1"/>
   <meta name="keywords" content="FWD,Forward,Progress,ABL,4GL,OpenEdge,Java,convert,conversion,migrate,migration,SQL,database"/>
   <meta name="description" content="Open source, automated Progress ABL to Java application conversion and database migration"/>
   <title>The FWD Project - open source, automated Progress to Java conversion</title>
   <noscript>
      <link rel="stylesheet" href="./bootstrap-3.3.7-dist/css/bootstrap.min.css" type="text/css"/>
      <link rel='stylesheet' type='text/css' href='./web-site.css' />
      <link rel='stylesheet' type='text/css' media='screen and (max-width: 479px)' href='./web-site-tn.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 480px) and (max-width: 767px)' href='./web-site-xs.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 768px) and (max-width: 991px)' href='./web-site-sm.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 992px) and (max-width: 1199px)' href='./web-site-md.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 1200px)' href='./web-site-lg.css' />
   </noscript>
</head>
<body>
<section id="Home">

<div class="row no-margin">

<div class="col-sm-6 gc-cycle no-padding animate fadeIn one">

<div class="row no-margin">

<div class="col-xs-12 col-sm-2"/>

<div class="col-xs-6 col-sm-4 gc-ftr-btn-container animate fadeIn60 one">
<a class="gc-ftr-btn-link" href="#What" data-link>
<div class="gc-ftr-btn" style="padding-right: 0em;">
<div class="glyphicon glyphicon-arrow-right" style="font-size: 175%;"/>
<div class="gc-ftr-btn-label">What is FWD?</div>
</div>
</a>
</div>

<div class="col-xs-6 col-sm-4 gc-ftr-btn-container animate fadeIn0 one">
<a class="gc-ftr-btn-link" href="#Why" data-link>
<div class="gc-ftr-btn" style="padding-left: 0em;">
<div class="glyphicon glyphicon-question-sign" style="font-size: 175%;"/>
<div class="gc-ftr-btn-label">Why FWD?</div>
</div>
</a>
</div>

<div class="col-xs-12 col-sm-2"/>

</div>

<div class="row no-margin">

<div class="col-xs-4 gc-ftr-btn-container animate fadeIn120 one">
<a class="gc-ftr-btn-link" href="#How" data-link>
<div class="gc-ftr-btn" style="padding-left: 0em;">
<div class="glyphicon glyphicon-cog" style="font-size: 175%;"/>
<div class="gc-ftr-btn-label">How it Works</div>
</div>
</a>
</div>

<div class="col-xs-4 gc-ftr-btn-container animate fadeIn two">
<a class="gc-ftr-btn-link" href="#Start" data-link>
<div class="gc-ftr-btn">
<div class="glyphicon glyphicon-road" style="font-size: 175%;"/>
<div class="gc-ftr-btn-label">Get Started</div>
</div>
</a>
</div>

<div class="col-xs-4 gc-ftr-btn-container animate fadeIn300 one">
<a class="gc-ftr-btn-link" href="#Demo" data-link>
<div class="gc-ftr-btn" style="padding-right: 0em;">
<div class="glyphicon glyphicon-facetime-video" style="font-size: 175%;"/>
<div class="gc-ftr-btn-label">Take a Look</div>
</div>
</a>
</div>

</div>

<div class="row no-margin">

<div class="col-xs-12 col-sm-2"/>

<div class="col-xs-6 col-sm-4 gc-ftr-btn-container animate fadeIn180 one">
<a class="gc-ftr-btn-link" href="#Features" data-link>
<div class="gc-ftr-btn" style="padding-right: 0em;">
<div class="glyphicon glyphicon-list-alt" style="font-size: 175%;"/>
<div class="gc-ftr-btn-label">Features</div>
</div>
</a>
</div>

<div class="col-xs-6 col-sm-4 gc-ftr-btn-container animate fadeIn240 one">
<a class="gc-ftr-btn-link" href="#Benefits" data-link>
<div class="gc-ftr-btn" style="padding-left: 0em;">
<div class="glyphicon glyphicon-thumbs-up" style="font-size: 175%;"/>
<div class="gc-ftr-btn-label">Benefits</div>
</div>
</a>
</div>

<div class="col-xs-12 col-sm-2"/>

</div>

</div>

<div class="row no-margin">

<div class="col-xs-12 col-sm-6">
<div class="gc-page-summary">
<div class="gc-def-1 gc-serif">FWD</div>
<div class="gc-def-2 gc-serif">(for&#x00b7;ward)&nbsp; [<span style="font-weight: bold;">fawr</span>-werd]</div>
<div class="gc-serif">adverb</div>
<div class="gc-def-3 gc-serif">toward or at a place, point, or time in advance; onward; ahead<sup>1</sup></div>
<div class="gc-serif">adjective</div>
<div class="gc-def-3 gc-serif">of or relating to the future<sup>1</sup></div>
<div class="gc-serif">noun</div>
<div class="gc-def-3 gc-serif">open source software which performs 100% automated, source-to-source
conversion of a Progress ABL application into a compatible, drop-in replacement, written in Java</div>
</div>
</div>

</div>

</div>

<div class="row no-margin">
<div class="col-xs-12 no-padding" style="color: #b0b0b0; text-align: center;">
1. "forward". Dictionary.com Unabridged. Random House, Inc. 1 Dec. 2016. &lt;Dictionary.com http://www.dictionary.com/browse/forward&gt;.
</div>
</div>

</section>
</body>
</html>
