<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="https://www.beyondabl.com/legal-fwd.html" />
<link rel='stylesheet' type='text/css' href='./web-site.css' />
<link rel='stylesheet' type='text/css' media='screen and (max-width: 479px)' href='./web-site-tn.css' />
<link rel='stylesheet' type='text/css' media='screen and (min-width: 480px) and (max-width: 767px)' href='./web-site-xs.css' />
<link rel='stylesheet' type='text/css' media='screen and (min-width: 768px) and (max-width: 991px)' href='./web-site-sm.css' />
<link rel='stylesheet' type='text/css' media='screen and (min-width: 992px) and (max-width: 1199px)' href='./web-site-md.css' />
<link rel='stylesheet' type='text/css' media='screen and (min-width: 1200px)' href='./web-site-lg.css' />
<title>Legal Notices</title>
   <noscript>
      <link rel="stylesheet" href="./bootstrap-3.3.7-dist/css/bootstrap.min.css" type="text/css"/>
      <link rel='stylesheet' type='text/css' href='./web-site.css' />
      <link rel='stylesheet' type='text/css' media='screen and (max-width: 479px)' href='./web-site-tn.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 480px) and (max-width: 767px)' href='./web-site-xs.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 768px) and (max-width: 991px)' href='./web-site-sm.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 992px) and (max-width: 1199px)' href='./web-site-md.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 1200px)' href='./web-site-lg.css' />
   </noscript>
</head>
<body>
<section id="Legal">

<div class="row no-margin">
<div class="col-xs-12 gc-col-text">
<div class="gc-panel-body gc-page-summary">
<div class="glyphicon glyphicon-briefcase"/>&nbsp;
<span class="gc-page-summary-strong">Legal</span> Notices
</div>
</div>
</div>


<div class="row no-margin gc-narrative">
<div class="col-xs-12">
<div class="gc-col-text">

<h3>Trademarks</h3>
<ul>
<li><b>FWD</b>, the <b>FWD</b> logo, and <b>Direct-to-Web</b> are trademarks of Golden Code
Development Corporation.</li>
<li><b>Golden Code</b> is a registered trademark of Golden Code Development Corporation.</li>
<li><b>Java</b> and <b>J2SE</b> are trademarks or registered trademarks of Oracle Corporation.
<li><b>Progress</b> is a registered trademark of Progress Software Corporation.</li>
<li><b>ABL</b> and <b>OpenEdge</b> are trademarks or registered trademarks of Progress Software
Corporation.</li>
<li><b>Symix</b> is a trademark or registered trademark of Infor Global Solutions or one of its
affiliates.</li>
<li>Any other named products or brands referenced herein are the property of their respective
owners.</li>
</ul>

<h3>Attributions</h3>
<ul>
<li>Icons made by <a href="http://www.flaticon.com/authors/becris" target="_blank">Becris</a>
from <a href="http://www.flaticon.com" target="_blank">www.flaticon.com</a></li>
<li>Icons made by <a href="http://www.flaticon.com/authors/freepik" target="_blank">Freepik</a>
from <a href="http://www.flaticon.com" target="_blank">www.flaticon.com</a></li>
<li>Icons made by <a href="http://www.flaticon.com/authors/gregor-cresnar" target="_blank">Gregor Cresnar</a>
from <a href="http://www.flaticon.com" target="_blank">www.flaticon.com</a></li>
<li>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" target="_blank">Madebyoliver</a>
from <a href="http://www.flaticon.com" target="_blank">www.flaticon.com</a></li>
<li>Icons made by <a href="http://www.flaticon.com/authors/pixel-perfect" target="_blank">Pixel perfect</a>
from <a href="http://www.flaticon.com" target="_blank">www.flaticon.com</a></li>
<li>Icons made by <a href="http://www.flaticon.com/authors/roundicons" target="_blank">Roundicons</a>
from <a href="http://www.flaticon.com" target="_blank">www.flaticon.com</a></li>
</ul>

<h3>Privacy Policy</h3>
<p>
Please read and understand our <a href="#Privacy" data-link>privacy policy</a>, which applies to any
information you provide through your use of this site.
</p>

</div>
</div>
</div>

</section>
</body>
</html>
