<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="https://www.beyondabl.com/pug-challenge-2024.html" />
<link rel='stylesheet' type='text/css' href='./web-site.css' />
<link rel='stylesheet' type='text/css' media='screen and (max-width: 479px)' href='./web-site-tn.css' />
<link rel='stylesheet' type='text/css' media='screen and (min-width: 480px) and (max-width: 767px)' href='./web-site-xs.css' />
<link rel='stylesheet' type='text/css' media='screen and (min-width: 768px) and (max-width: 991px)' href='./web-site-sm.css' />
<link rel='stylesheet' type='text/css' media='screen and (min-width: 992px) and (max-width: 1199px)' href='./web-site-md.css' />
<link rel='stylesheet' type='text/css' media='screen and (min-width: 1200px)' href='./web-site-lg.css' />
<title>PUG Challenge 2024</title>
   <noscript>
      <link rel="stylesheet" href="./bootstrap-3.3.7-dist/css/bootstrap.min.css" type="text/css"/>
      <link rel='stylesheet' type='text/css' href='./web-site.css' />
      <link rel='stylesheet' type='text/css' media='screen and (max-width: 479px)' href='./web-site-tn.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 480px) and (max-width: 767px)' href='./web-site-xs.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 768px) and (max-width: 991px)' href='./web-site-sm.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 992px) and (max-width: 1199px)' href='./web-site-md.css' />
      <link rel='stylesheet' type='text/css' media='screen and (min-width: 1200px)' href='./web-site-lg.css' />
   </noscript>
</head>
<body>
<section id="PUG2024">

<div class="row no-margin">
<div class="col-xs-12 gc-col-text">
<div class="gc-panel-body gc-page-summary">
Welcome to the <span class="gc-page-summary-strong">Virtual FWD Booth</span> at PUG Challenge 2024!
<br><br>
We hope to catch up with you in Boston this week. Let's set something up:
<a href="mailto:fwd@goldencode.com">fwd@goldencode.com</a>
</div>
<div class="row no-margin gc-announce">
Find our (unofficial) booth <strong>in the Atrium, next to the bar, near the lobby of the Westin Waltham
Hotel</strong>. Representatives of the FWD project can answer questions and show you the technology.
<br><br>
Join us there for a <strong>reception Tuesday Oct 1st from 5pm to 7pm</strong>, with complimentary drinks
and hors d'oeuvres. We hope to see you there! This is not an official conference event; however, only
conference attendees are invited. Please wear your conference badge for admission.
</div>
</div>
</div>


<div class="row no-margin gc-narrative">
<div class="col-xs-12">
<div class="gc-col-text">

<h2>Frequently Asked Questions</h2>

<h3>What is FWD?</h3>

<p>
<ul>
<li>
FWD is an independent implementation of the Progress 4GL, written in Java, and using a modern tech stack.
</li>
<li>
It is not affiliated with Progress Software Corporation; it is open source software which performs 100%
automated, source-to-source conversion of a Progress ABL/4GL application into a compatible, drop-in
replacement, written in Java.
</li>
<li>
It is flexible: future development can continue in the 4GL, be shifted to Java, or can be a
mixture of both 4GL and Java development.
</li>
<li>
FWD allows you to migrate away from OpenEdge, without a rewrite, to a modern tech stack, eliminating all
future Progress fees.
</li>
</ul>
</p>

<h3>Why isn't the FWD booth in the Exhibit Hall this Year?</h3>

<p>
The PUG Challenge organizers refused FWD as an event sponsor, despite the gold level sponsorships we provided
in years past. By offering a valuable alternative for organizations who are questioning the long term
viability of OpenEdge in their tech stack, FWD is a technology which competes directly with OpenEdge. This
does not sit well with conference organizers. In spite of the potential value of FWD to conference attendees
and the strong interest shown in its sessions in the past, the FWD team was rejected as a PUG Challenge
sponsor, exhibitor, and speaker. So, we arranged for alternate accommodations in the Hotel's Atrium.
</p>

<p>
If you have an application investment in the Progress ABL/4GL, you deserve to understand your options. Please
stop by our booth, or reach out to us at <strong>fwd@goldencode.com</strong> to set up some time to discuss
how you can get the most out of that investment over the long term.
</p>

<h3>What has been happening with FWD since the last PUG Challenge FWD sponsored?</h3>

<p>
A LOT!! We've been hard at work: rounding out the support for many legacy features (e.g., OO, data
sets, unit testing, many more functions/methods/attributes); adding innovative features (e.g., language
extensions, a spreadsheet widget, direct Java access); implementing new RDBMS support (e.g., MariaDB);
improving performance; ...
</p>

<h3>How Do I Get Started with FWD?</h3>

<p>
Reach out to us! We're happy to help. To set up a meet or to request a pre-release version of FWDv4, with its
many updates since FWDv3.2, please contact us at <strong>fwd@goldencode.com</strong>.
</p>

<h2>PUG Challenge Presentations from Previous Years</h2>

<p>
In the meantime, here are some popular presentations from previous years, which you might find of interest:
<ul>
<li>
<a href="https://proj.goldencode.com/downloads/pug_challenge/fwd_run_4gl_gui_as_a_web_app_without_rewrite_pug_challenge_presentation_20181018a.pdf">
Transform a 4GL GUI into a Modern Web Application Without a Rewrite</a>
</li>
<li>
<a href="https://proj.goldencode.com/downloads/pug_challenge/fwd_is_a_better_4GL_web_ui_reporting_engine_direct_java_access_and_much_more_emea_pug_challenge_presentation_2019.pdf">
A Better 4GL: Web UI, Reporting Engine, Direct Java Access and Much More</a>
</li>
</ul>
</p>

</div>
</div>
</div>

</section>
</body>
</html>
